<section>
    <div class="container">
        <div class="row">
            <a href="/api/v1/admin/add-product" class="btn btn-success ml-auto mt-5">Add Products</a>
        </div>
        <table class="table mt-5">

            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Images</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>

                    <td><img style="width:50px;height:50px" src="/img/{{this.image}}" alt=""></td>
                    <td>
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="" data-productid="{{this._id}}" class="btn btn-danger delete-btn">Delete</a>

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>