<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/product.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <section class="product-page">

        <div class="wrapper">
            <div class="product-image">
                <img src="/img/{{product.image}}" class="apple-pro" alt="apple-image">
            </div>
            <div class="product-details">
                <p class="product-name">{{product.name}}</p>
                <hr class="line">
                <div class="star-rating">
                    <div class="stars">
                        <span><i class="fa-solid fa-star checked"></i></span>
                        <span><i class="fa-solid fa-star checked"></i></span>
                        <span><i class="fa-solid fa-star checked"></i></span>
                        <span><i class="fa-solid fa-star checked"></i></span>
                        <span><i class="fa-solid fa-star checked"></i></span>
                    </div>
                    <div class="rating-tag">
                        <span>
                            <p>(12 Custmers Review)</p>
                        </span>
                    </div>
                </div>
                <div class="price-tag">
                    <p class="real-price"><span>&#8377;</span>{{product.price}}</p>
                </div>
                <div class="description">
                    <p>{{product.description}}</p>
                </div>
                <div class="listing-description">
                    <ul>
                        <li>
                            <p>Nunc id cursus metus aliquam.</p>
                        </li>
                        <li>
                            <p>Vel pretium lectus quam id leo in vitae turpis massa</p>
                        </li>
                        <li>
                            <p>Eget sit amet tellus cras adipiscing enim eu</p>
                        </li>
                        <li>
                            <p>Tellus rutrumn tellus pellentesque eu tincidunt tortor</p>
                        </li>
                    </ul>
                </div>
                <div class="addto-cart">
                    <div class="counter">
                        <button class="counter-btn minusbtn">-</button>
                        <span class="quantity">1</span>
                        <button class="counter-btn plusbtn">+</button>
                    </div>
                    <div class="addto-cartbtn">
                        <button data-id="{{product._id}}" class="to-cart add-btn">Add To Cart</button>
                    </div>
                </div>
                <hr>
                <div class="oth-details">
                    <div class="pro-end">
                        <p class="ctg">Categories:</p>
                        <div>
                            <p class="ctg-name">{{product.category}}</p>
                        </div>
                    </div>
                    <div class="pro-end">
                        <p class="ctg">share:</p>
                        <div class="social-media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram-square"></i>
                            <i class="fa-brands fa-pinterest"></i>
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>
    <script src="https://kit.fontawesome.com/ccdb6a7bcb.js" crossorigin="anonymous"></script>
</body>

</html>